<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="app">
      <h2>TODO List</h2>
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem" /><button v-on:click="addItem">
          Add
        </button>
      </form>
      <ul>
        <li v-for="(todo,index) in todos">
          <input type="checkbox" v-model="todo.isDone" />
          <span v-bind:class="{done:todo.isDone}">{{ todo.item }}</span>
          <button v-on:click="deleteItem(index)">Delete</button>
        </li>
      </ul>
      <pre>{{$data}}</pre>
    </div>

    <script src="src/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
  </body>
</html>
